################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SPRPublish/FileContentIndex/2e5748f8-889e-448d-b64c-c407e85cd67a.vsidx
runtimes/SPRPublish
.vs/
